* {
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;
}
body {
	text-align: center;
}
h1 {
	margin: 20px;
}
p,
ul,
h2 {
	margin: 15px;
}
li {
	padding: 10px;
	font-size: 1.2em;
	list-style-type: none;
}
